<%- include('header.ejs');%>

<body><%- include('table.ejs',myWorksData);%>

  < <p>Submit more</p>
    <%- include('table.ejs',artistsData);%>

    < <p><button> See more </button></p>
      <%- include('table.ejs',worksData);%>
      <p><button> See more </button></p>
      <p><a href="/">Home</a></p>
      <p><a href="/logout">Logout</a></p>
</body>
<%- include('footer.ejs',footer);%>