<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>


<div>
  <h1>My watchers</h1>
  <div class=table-container>
    <table>
      <tr>
        <td>User name</td>
        <td>Ban</td>
      </tr>
      <% for(r of see_watchers.rows) { %>
      <tr>
        <td><a href="/profile/users/user/<%= r.user_.user_id %>"> <%= r.user_.user_name %></a></td>
        <td><a href="/profile/users/user/<%= r.ban.artist_id %>/<%= r.ban.user_artist_id %>/ban"> Ban </a></td>
      </tr>
      <% } %>
    </table>
    <a href="/home"> <button class="view"> Reshuffle </button> </a>
  </div>
</div>

<div>
  <h1>My works</h1>
  <div class=table-container>
    <table>
      <tr>
        <th>Work name</th>
        <th>Withdraw</th>
      </tr>
      <% for(r of see_works.rows) {%>
      <tr>
        <td><a href="/profile/works/work/<%= r.work_.work_id %>"> <%= r.work_.work_name %></a></td>
        <td><a href="/profile/works/work/<%= r.withdraw.artist_id %>/<%= r.withdraw.work_id %>/withdraw"> Withdraw </a></td>
      </tr>
      <% } %>
    </table>
    <a href="/home"> <button class="view"> Reshuffle </button> </a>
    <a href="/home/works/submit"> <button class="insert"> Submit more</button> </a>
  </div>
</div>

<div>
  <h1>My watched artists</h1>
  <div class=table-container>
    <table>
      <tr>
        <th>Artist name</th>
        <th>Watch/Unwatch</th>
      </tr>
      <% for(r of see_watched_artists.rows) { %>
      <tr>
        <td><a href="/profile/artists/artist/<%= r.artist.artist_id %>"> <%= r.artist.user_name %></a></td>
        <td><a href="/profile/artists/artist/<%= r.unwatch.user_id%>/<%= r.unwatch.user_artist_id%>/unwatch"> Unwatch </a></td>
      </tr>
      <% } %>
    </table>
    <a href="/home"> <button class="view"> Reshuffle </button> </a>
    <a href="/home/artists/more"> <button class="view"> See more </button> </a>
  </div>
</div>

<div>
  <h1>My liked works</h1>
  <div class=table-container>
    <table>
      <tr>
        <td>Work name</td>
        <th>Unlike</th>
      </tr>
      <% for(r of see_liked_works.rows) { %>
      <tr>
        <td><a href="/profile/works/work/<%= r.work_.work_id %>"> <%= r.work_.work_name %></a></td>
        <td><a href="/profile/works/work/<%= r.unlike.user_id%>/<%= r.unlike.user_work_id%>/unlike"> Unlike </a></td>
      </tr>
      <% } %>
    </table>
  </div>
  <a href="/home"> <button class="view"> Reshuffle </button> </a>
  <a href="/home/works/more"> <button class="view"> See more </button> </a>
</div>

<p> Signed in as <%= userName %> <br> <a href="/signout"> Sign out </a> </p>
<p> Started browsing at <%= startTime %> </p>

</html>