<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<div class=table-container><table>
  <tr>
  <th>Artist name</th>
  <th>Action</th>
  </tr>
  <% for(r of view_artist.rows) {%>
  <tr>
      <td><a href="/profile/artists/artist/<%= r.artist.artist_id %>"> <%= r.artist.artist_name %></a></td>
      <td><a href="/profile/artists/artist/<%= r.action_.first_id %>/<%= r.action_.second_id %>/<%= r.action_.key_ %>"> <%= r.action_.key_ %></a></td>
    </tr>
    <% } %>
</table></div>

<div class=table-container><table>
  <tr>
  <td>Work name</td>
  <td>User name</td>
  </tr>
  <% for(r of view_works_of_artist.rows) {%>
    <tr>
      <td><a href="/profile/works/work/<%= r.work_.work_id %>"> <%= r.work_.work_name %></a></td>
      <td><a href="/profile/artists/artist/<%= r.artist.artist_id %>"> <%= r.artist.user_name %></a></td>
    </tr>
    <% } %>
</table></div>

<a href="/home"> Back home </a>

<p> Signed in as <%= userName %> <br> <a href="/signout"> Sign out </a> </p>
<p> Started browsing at <%= startTime %> </p>

</html>