<form action=<%= form.url %> method="post">
  <% for i of form.inputs { %>
  <input type=<%= i.inputType %> id=<%= i.inputId %> name="fav_language" value=<%= i.inputLabel %>>
  <label for=i.inputTId><%= i.inputLabel %></label><br>
  <% } %>
</form>