<!DOCTYPE html>

<html>

<head>
  <link href="/css/aigenerated.css" rel="stylesheet" type="text/css">
  <title>Sandbox</title>
</head>

<div class=table-container><table>
  <tr>
  <td>Work name</td>
  <td>Withdraw</td>
  </tr>
  <% for(r of view_work.rows) {%>
    <tr>
      <td><a href="/profile/works/work/<%= r.work_.work_id %>"> <%= r.work_.work_name %></a></td>
      <td><a href="/home/works/withdraw/<%= r.withdraw %>"> Withdraw </a></td>
    </tr>
    <% } %>
</table></div>

<a href="/home"> Back home </a>

<p> Signed in as <%= userName %> <br> <a href="/signout"> Sign out </a> </p>
<p> Started browsing at <%= startTime %> </p>

</html>